.book
  overflow: scroll

  &__page
    min-height: 100%
    padding: 20px
    box-sizing: border-box

  &__paragraph
    font-family: Times, sans-serif
    font-size: 18px
    line-height: 1.7em
    color: $medium-grey

    &:first-of-type:first-letter
      height: .8em
      margin-right: 10px
      float: left
      display: block
      font-size: 60px
      color: $black
      line-height: 1em

    &:not(:last-of-type)
      margin-bottom: 15px
