.book
  width: 90%
  height: 100%
  position: absolute
  right: 0
  top: 0
  background: $thin-grey
  overflow: scroll
  -webkit-scroll-snap-type: mandatory
  scroll-snap-type: y mandatory
  -webkit-scroll-snap-points-y: repeat(100%)
  scroll-snap-points-y: repeat(100%)
  transition:   all 0.7s ease

  &.resize
    width: 50%
  &.animation-resize
    animation-duration: 0.7s
    animation-name: blur

  &__page
    height: 100%
    padding: 24px
    box-sizing: border-box
    display: flex
    flex-direction: column
    -webkit-scroll-snap-align: start
    scroll-snap-align: start
    h1
      font-size: 2em
      text-align: center
      color: $medium-grey
      margin-top: auto
      margin-bottom: 100px
    &.with-title
      .book__paragraph
        margin-top: 0

  &__paragraph
    font-family: Times, sans-serif
    font-size: 18px
    line-height: 1.9em
    color: black

    &:first-of-type
      margin-top: auto
      &:first-letter
        height: .8em
        margin-right: 10px
        float: left
        display: block
        font-size: 69px
        color: $black
        line-height: 1em

    &:last-of-type
      margin-bottom: auto

    &:not(:last-of-type)
      margin-bottom: 15px

  &__next-chapter
    position: absolute
    right: 0
    bottom: 0
    text-align: right
    text-transform: uppercase
    width: 0
    height: 0
    border-style: solid
    border-width: 0 0 100px 100px
    border-color: transparent transparent $medium-grey transparent

@keyframes blur
  from
    filter: blur(0px)
  to
    filter: blur(5px)
