.main
  background: $thin-grey
  width: 100%
  height: 100%
  display: flex

  &__section
    flex-basis: 100%
    flex-grow: 1
    flex-shrink: 1

    &:not(:first-of-type)
      border-left: 2px solid $light-grey
