<main class="main">
  <section class="main__section dreamy-sketch">
    <canvas class="dreamy-sketch__canvas"></canvas>
  </section>

  <section class="main__section book">
    <% data.book.pages.each do |page| %>
      <article class="book__page">
        <% page.text.split("\n").each do |paragraph| %>
          <p class="book__paragraph"><%= paragraph %></p>
        <% end %>
      </article>
    <% end %>
  </section>
</main>
